.row {
    align-items: center;
}

.coll {
    background-color: rgb(45,45,45);
    padding: 20px;
}

.col-2 h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 85px;
    text-align: left;
    letter-spacing: 0.03em;
    color: #6DEBB5;
    opacity: 0.9;
    font-family: 'Playfair Display', serif;
}

.text {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    color: white;
}

.logo {
    display: flex;
    justify-content: space-evenly;
}

.foto-1 {
    width: 50vh;
}
