.body-parallax2 {
    height: 126.4vh;
    background-color: black;
    overflow: hidden;
}

.text-parallax2 {
    font-family: 'Space Mono', monospace;
    padding-top: 35px;
    color: #ffd1d1;
    font-size: 14px;
    width: 800px;
    height: 800px;
}

.judul-parallax2 {
    text-align: center;
    width: 420px;   
    font-weight: bolder;
}

.row {
    margin-top: 80px;
}

.text-parallax2 h1 {
    font-size: 2rem;
}

.parallax2 {
    margin-left: 50px;
    width: 1470px;
}

.item-1-parallax2, .item-3-parallax2 {
    display: flex;
    align-items: center;
}

.item-2-parallax2, .item-4-parallax2 {
    display: flex;
    align-items: center;
    justify-content: right;
}

.col-1-parallax2 {
    width: 73px;
    margin-bottom: 3px;
    height: 70px;
    background-color: aqua;
    color: black;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.fa-head-side-brain, .fa-book-open-cover, .fa-lightbulb-on, .fa-code-simple {
    font-size: 40px;
}

.col-2-parallax2 p {
    margin-left: 20px;
    font-size: 14px;
}

.col-2-parallax2 h1 {
    margin-left: 20px;
    font-size: 30px;
}
